@font-face {
    font-family: gotham-medium;
    src: url(gotham-medium.otf);
}
@font-face {
    font-family: gotham-bold;
    src: url(gotham-bold.otf);
}@font-face {
    font-family: gotham-book;
    src: url(gotham-book.otf);
} 